service:
  name: test
  annotations:
    key1: value1
    key2: value2

  ports:
    - port: 8080

      portName: http

route:
  name: route
  annotations:
    key1: value1
    key2: value2

  labels:
    thisALabel: "true"

  gateways:
    - name: traefik-gateway
      namespace: traefik

  hostnames: [localhost]

  rules:
    - matches:
        - matchType: path
          type: PathPrefix
          value: /
      backendRefs:
        - name: "test-server"
          port: 80

pvc:
  name: test
  annotations:
    key1: value1

  labels:
    thisALabel: "true"

  storage:
    requests: 4096Mi

es:
  name: test
  annotations:
    key1: value1

  labels:
    thisALabel: "true"

  secretStore:
    name: vault-backend

  references:
    dataFrom:
      - extract:
          key: test/user

deployment:
  name: test
  annotations:
    key1: value1

  labels:
    thisALabel: "true"

  containers:
    - name: optionalName
      image:
        name: nginx
        tag: latest

      probes:
        startup:
          httpGet:
            path: /
            port: 8080

        readiness:
          command: ["pg_isready", "-d", "db_prod"]
          periodSeconds: 30
          timeoutSeconds: 10
          initialDelaySeconds: 10

          failureThreshold: 3
          successThreshold: 3

        liveness:
          httpGet:
            path: /
            port: 8080

      # cpu:
      #   limits: "50m"
      #   requests: "50m"
      # memory:
      #   limits: "128Mi"
      #   requests: "128Mi"

      ports:
        - name: http
          port: 80
          protocol: UDP

      volumes:
        - name: nginx-config
          type: configMap
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true

      env:
        - name: TZ
          value: America/Sao_Paulo

        - name: TZ2
          type: secretRef

cfg:
  name: test
  data:
    TZ: America/Sao_Paulo
    RANDOM_ID: yes
    file: |
      {"foo": "bar"}
