on:
  push:
    tags:
      - "*"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install helm
        uses: azure/setup-helm@v4.3.0

      - name: Package Helm Chart
        run: |
          cd helpers
          helm package .
          echo "PKG=$(ls *.tgz | tail -n 1)" >> $GITHUB_ENV

      - name: Log in into Helm
        run: |
          helm registry login $REGISTRY -u ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }}

      - name: Publish Helm
        run: |
          helm push $PKG oci://$REGISTRY/$IMAGE_NAME
